<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Errors/404Error.aspx" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Errors/404Error.aspx"/>
    </customErrors>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <appSettings>
    <add key="HolidaysVacations.HolidaysVacations" value="http://localhost:48595/HolidaysVacations.asmx"/>
  <add key="Cities.Cities" value="http://localhost:41313/wsCities/Cities.asmx"/>
  </appSettings>
</configuration>